services:
  # =====================
  # APPLICATION SERVICES
  # =====================

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - api_gateway
    restart: unless-stopped

  api_gateway:
    build:
      context: ./backend/api_gateway
      dockerfile: Dockerfile
    container_name: api_gateway
    ports:
      - "50055:50055"
    env_file:
      - .env.example
    depends_on:
      - content_service
      - auth_service
      - comments_service
    restart: unless-stopped
    volumes:
      - ./backend/api_gateway/src:/app/src

  content_service:
    build:
      context: ./backend/content_service
      dockerfile: Dockerfile
    container_name: content_service
    ports:
      - "50051:50051"
    env_file:
      - .env.example
    depends_on:
      - content_db
    restart: unless-stopped

  auth_service:
    build:
      context: ./backend/auth_service
      dockerfile: Dockerfile
    container_name: auth_service
    ports:
      - "50052:50052"
    env_file:
      - .env.example
    depends_on:
      - auth_db
      - broker-1
      - broker-2
      - broker-3
      - controller-1
      - controller-2
      - controller-3
    restart: unless-stopped
  
  comments_service:
    build:
      context: ./backend/comments_service
      dockerfile: Dockerfile
    container_name: comments_service
    ports:
      - "50054:50054"
    env_file:
      - .env.example
    depends_on:
      - comments_db
    restart: unless-stopped
  
  notification_service:
    build:
      context: ./backend/notification_service
      dockerfile: Dockerfile
    container_name: notification_service
    ports:
      - "50053:50053"
    env_file:
      - .env.example
    depends_on:
      - notification_db
      - broker-1
      - broker-2
      - broker-3
      - controller-1
      - controller-2
      - controller-3
    restart: unless-stopped

  admin_service:
    build:
      context: ./backend/admin_service/src
      dockerfile: Dockerfile
    env_file:
      - .env.example
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - content_db
      - auth_db
      - comments_db
      - notification_db
      - minio

  admin_gui:
    build:
      context: ./backend/admin_service/admin_gui
      dockerfile: Dockerfile
    container_name: admin_gui
    ports:
      - "9500:80"
    env_file:
      - .env.example
    depends_on:
      - content_db
      - auth_db
      - comments_db
      - notification_db
      - minio
      - admin_service
    restart: unless-stopped

  # =====================
  # DATABASE SERVICES
  # =====================

  content_db:
      image: mongo:8.0
      container_name: content_db
      env_file:
        - .env.example
      restart: unless-stopped
      environment:
        MONGO_INITDB_ROOT_USERNAME: ${CONTENT_ADMIN_MONGO_ROOT_USERNAME}
        MONGO_INITDB_ROOT_PASSWORD: ${CONTENT_ADMIN_MONGO_ROOT_PASSWORD}
      expose:
        - "27017"
      volumes:
        - content_db_data:/data/db

  auth_db:
    image: mongo:8.0
    container_name: auth_db
    env_file:
      - .env.example
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${AUTH_ADMIN_MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${AUTH_ADMIN_MONGO_ROOT_PASSWORD}
    expose:
      - "27017"
    volumes:
      - auth_db_data:/data/db

  notification_db:
    image: mongo:8.0
    container_name: notification_db
    env_file:
      - .env.example
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${NOTIFICATION_ADMIN_MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${NOTIFICATION_ADMIN_MONGO_ROOT_PASSWORD}
    expose:
      - "27017"
    volumes:
      - notification_db_data:/data/db

  comments_db:
    image: postgres:17.6
    container_name: comments_db
    restart: unless-stopped
    env_file:
      - .env.example
    environment:
      COMMENTS_ADMIN_POSTGRES_DB_NAME: ${COMMENTS_ADMIN_POSTGRES_ROOT_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432" # Порт открыт на время разработки
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # =====================
  # CACHE SERVICES
  # =====================

  redis:
    image: redis:8.2.2-alpine3.22
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: unless-stopped

# =====================
# MESSAGE BROKERS
# =====================
  controller-1:
    image: apache/kafka:4.1.0
    container_name: controller-1
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
    restart: unless-stopped

  controller-2:
    image: apache/kafka:4.1.0
    container_name: controller-2
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
    restart: unless-stopped

  controller-3:
    image: apache/kafka:4.1.0
    container_name: controller-3
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
    restart: unless-stopped

  broker-1:
    image: apache/kafka:4.1.0
    container_name: broker-1
    hostname: broker-1
    ports:
      - 29092:9092
    environment:
      KAFKA_NODE_ID: 4
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-1:19092,PLAINTEXT_HOST://localhost:29092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
    volumes:
      - kafka_broker1_data:/opt/kafka/data
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions.sh", "--bootstrap-server", "localhost:9092"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    depends_on:
      - controller-1
      - controller-2  
      - controller-3

  broker-2:
    image: apache/kafka:4.1.0
    container_name: broker-2
    hostname: broker-2
    ports:
      - 39092:9092
    environment:
      KAFKA_NODE_ID: 5
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-2:19092,PLAINTEXT_HOST://localhost:39092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
    volumes:
      - kafka_broker2_data:/opt/kafka/data
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions.sh", "--bootstrap-server", "localhost:9092"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    depends_on:
      - controller-1
      - controller-2  
      - controller-3

  broker-3:
    image: apache/kafka:4.1.0
    container_name: broker-3
    hostname: broker-3
    ports:
      - 49092:9092
    environment:
      KAFKA_NODE_ID: 6
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-3:19092,PLAINTEXT_HOST://localhost:49092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_LOG_RETENTION_HOURS: 168
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
    volumes:
      - kafka_broker3_data:/opt/kafka/data
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions.sh", "--bootstrap-server", "localhost:9092"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    depends_on:
      - controller-1
      - controller-2  
      - controller-3

  # =====================
  # MANAGEMENT TOOLS
  # =====================
  redisinsight:
    image: redis/redisinsight:2.70
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data
    environment:
      - RI_REDIS_HOST0=redis
      - RI_REDIS_PORT0=6379
      - RI_REDIS_USERNAME0=default
      - RI_REDIS_PASSWORD0=${REDIS_PASSWORD}
    depends_on:
      - redis
    restart: unless-stopped

  kafka-ui:
    container_name: kafka-ui
    image: kafbat/kafka-ui:5ba27d9
    ports:
      - "8084:8080"
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: 'auth-cluster'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'broker-1:19092,broker-2:19092,broker-3:19092'
      KAFKA_CLUSTERS_0_READONLY: 'false'
    depends_on:
      - broker-1
      - broker-2
      - broker-3
    restart: unless-stopped

  # mongo-express-content:
  #   image: mongo-express:1.0.2-20-alpine3.19
  #   container_name: mongo_express_content
  #   env_file:
  #     - .env.example
  #   restart: always
  #   ports:
  #     - "8081:8081"
  #   environment:
  #     ME_CONFIG_MONGODB_URL: "mongodb://admin:securepassword123@content_db:27017/?authSource=admin"
  #     ME_CONFIG_BASICAUTH: false
  #   depends_on:
  #     - content_db

  # mongo-express-auth:
  #   image: mongo-express:1.0.2-20-alpine3.19
  #   container_name: mongo_express_auth
  #   env_file:
  #     - .env.example
  #   restart: always
  #   ports:
  #     - "8082:8081"
  #   environment:
  #     ME_CONFIG_MONGODB_URL: "mongodb://admin:securepassword123@auth_db:27017/?authSource=admin"
  #     ME_CONFIG_BASICAUTH: false
  #   depends_on:
  #     - auth_db

  # mongo-express-notification:
  #   image: mongo-express:1.0.2-20-alpine3.19
  #   container_name: mongo_express_notification
  #   env_file:
  #     - .env.example
  #   restart: always
  #   ports:
  #     - "8083:8081"
  #   environment:
  #     ME_CONFIG_MONGODB_URL: "mongodb://admin:securepassword123@notification_db:27017/?authSource=admin"
  #     ME_CONFIG_BASICAUTH: false
  #   depends_on:
  #     - notification_db

  # =====================
  # STORAGE SERVICES
  # =====================

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z-cpuv1
    container_name: minio
    env_file:
      - .env.example
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

# =====================
# VOLUMES
# =====================

volumes:
  content_db_data:
  auth_db_data:
  notification_db_data:
  minio_data:
  postgres_data:
  kafka_broker1_data:
  kafka_broker2_data:
  kafka_broker3_data:
  redis_data:
  redisinsight_data: