services:
  # =====================
  # APPLICATION SERVICES
  # =====================

  admin_service:
    build:
      context: ./backend/admin_service/src
      dockerfile: Dockerfile
    env_file:
      - .env.example
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - content_db
      - auth_db
      - comments_db
      - notification_db
      - minio

  content_service:
    build:
      context: ./backend/content_service
      dockerfile: Dockerfile
    container_name: content_service
    ports:
      - "50051:50051"
    env_file:
      - .env.example
    depends_on:
      - content_db
    restart: unless-stopped

  admin_gui:
    build:
      context: ./backend/admin_service/admin_gui
      dockerfile: Dockerfile
    container_name: admin_gui
    ports:
      - "9500:80"
    env_file:
      - .env.example
    depends_on:
      - content_db
      - auth_db
      - comments_db
      - notification_db
      - minio
      - admin_service
      # - content_service
    restart: unless-stopped

  # =====================
  # DATABASE SERVICES
  # =====================

  content_db:
      image: mongo:8.0
      container_name: content_db
      env_file:
        - .env.example
      restart: unless-stopped
      environment:
        MONGO_INITDB_ROOT_USERNAME: ${CONTENT_ADMIN_MONGO_ROOT_USERNAME}
        MONGO_INITDB_ROOT_PASSWORD: ${CONTENT_ADMIN_MONGO_ROOT_PASSWORD}
      expose:
        - "27017"
      volumes:
        - content_db_data:/data/db

  auth_db:
    image: mongo:8.0
    container_name: auth_db
    env_file:
      - .env.example
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${AUTH_ADMIN_MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${AUTH_ADMIN_MONGO_ROOT_PASSWORD}
    expose:
      - "27017"
    volumes:
      - auth_db_data:/data/db

  notification_db:
    image: mongo:8.0
    container_name: notification_db
    env_file:
      - .env.example
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${NOTIFICATION_ADMIN_MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${NOTIFICATION_ADMIN_MONGO_ROOT_PASSWORD}
    expose:
      - "27017"
    volumes:
      - notification_db_data:/data/db

  comments_db:
    image: postgres:17.6
    container_name: comments_db
    restart: unless-stopped
    env_file:
      - .env.example
    environment:
      COMMENTS_ADMIN_POSTGRES_DB_NAME: ${COMMENTS_ADMIN_POSTGRES_ROOT_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # =====================
  # MANAGEMENT TOOLS
  # =====================

  mongo-express-content:
    image: mongo-express:1.0.2-20-alpine3.19
    container_name: mongo_express_content
    env_file:
      - .env.example
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://admin:securepassword123@content_db:27017/?authSource=admin"
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - content_db

  mongo-express-auth:
    image: mongo-express:1.0.2-20-alpine3.19
    container_name: mongo_express_auth
    env_file:
      - .env.example
    restart: always
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://admin:securepassword123@auth_db:27017/?authSource=admin"
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - auth_db

  mongo-express-notification:
    image: mongo-express:1.0.2-20-alpine3.19
    container_name: mongo_express_notification
    env_file:
      - .env.example
    restart: always
    ports:
      - "8083:8081"
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://admin:securepassword123@notification_db:27017/?authSource=admin"
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - notification_db

  # =====================
  # STORAGE SERVICES
  # =====================

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z-cpuv1
    container_name: minio
    env_file:
      - .env.example
    ports:
      - "${MINIO_PORT}:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

# =====================
# VOLUMES
# =====================

volumes:
  content_db_data:
  auth_db_data:
  notification_db_data:
  minio_data:
  postgres_data: