# docker-compose.test.yml
services:
  admin_service:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: admin_service_test
    ports:
      - "8000:8000"
    depends_on:
      - content_db
      - auth_db
      - comments_db
      - notification_db
      - minio
      - kafka
    environment:
      # Base
      - ADMIN_SERVICE_HOST=0.0.0.0
      - ADMIN_SERVICE_PORT=8000
      
      # Secrets
      - SECRET_KEY=c761fd5cd80df51276932a6a044502b1404ab945a694c1234c56e33f06b780c1
      - ALGORITHM=HS256
      - ADMIN_EMAIL=admin@admin.com
      - ADMIN_PASSWORD=1234567
      
      # Email
      - SMTP_USERNAME=my.personalsite@yandex.ru
      - SMTP_PASSWORD=idkgnclyfdpatjoi
      - SMTP_FROM=my.personalsite@yandex.ru
      
      # MinIO
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
      - MINIO_HOST=minio
      - MINIO_API_PORT=9000
      - MINIO_PUBLIC_URL=http://minio:9000
      
      # Content MongoDB
      - CONTENT_ADMIN_MONGO_ROOT_USERNAME=admin
      - CONTENT_ADMIN_MONGO_ROOT_PASSWORD=securepassword123
      - CONTENT_ADMIN_MONGODB_URL=mongodb://admin:securepassword123@content_db:27017
      - CONTENT_ADMIN_MONGO_DATABASE_NAME=content_db
      - CONTENT_ADMIN_MONGO_PORT=27017
      - CONTENT_ADMIN_ME_CONFIG_MONGODB_URL=mongodb://admin:securepassword123@content_db:27017
      
      # Auth MongoDB
      - AUTH_ADMIN_MONGO_ROOT_USERNAME=admin
      - AUTH_ADMIN_MONGO_ROOT_PASSWORD=securepassword123
      - AUTH_ADMIN_MONGODB_URL=mongodb://admin:securepassword123@auth_db:27017
      - AUTH_ADMIN_MONGO_DATABASE_NAME=auth_db
      - AUTH_ADMIN_MONGO_PORT=27017
      - AUTH_ADMIN_ME_CONFIG_MONGODB_URL=mongodb://admin:securepassword123@auth_db:27017
      
      # Notification MongoDB
      - NOTIFICATION_ADMIN_MONGO_ROOT_USERNAME=admin
      - NOTIFICATION_ADMIN_MONGO_ROOT_PASSWORD=securepassword123
      - NOTIFICATION_ADMIN_MONGODB_URL=mongodb://admin:securepassword123@notification_db:27017
      - NOTIFICATION_ADMIN_MONGO_DATABASE_NAME=notification_db
      - NOTIFICATION_ADMIN_MONGO_PORT=27017
      - NOTIFICATION_ADMIN_ME_CONFIG_MONGODB_URL=mongodb://admin:securepassword123@notification_db:27017
      
      # PostgreSQL
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - COMMENTS_ADMIN_POSTGRES_ROOT_NAME=comments_db
      - COMMENTS_ADMIN_POSTGRES_PORT=5432
      - COMMENTS_ADMIN_POSTGRES_DB_NAME=comments_db
      - COMMENTS_ADMIN_POSTGRES_DB_URL=postgresql+asyncpg://postgres:postgres@comments_db:5432/comments_db
      
      # Kafka
      - KAFKA_CACHE_INVALIDATION_TOPIC=cache-invalidation
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092

  content_db:
    image: mongo:8.0
    container_name: content_db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: securepassword123
    ports:
      - "27017:27017"

  auth_db:
    image: mongo:8.0
    container_name: auth_db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: securepassword123
    ports:
      - "27018:27017"

  notification_db:
    image: mongo:8.0
    container_name: notification_db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: securepassword123
    ports:
      - "27019:27017"

  comments_db:
    image: postgres:17.6
    container_name: comments_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: comments_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z-cpuv1
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
  
  kafka:
    image: apache/kafka:4.1.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093